{% extends 'layout.html' %}

{%block body %}
<script src="https://cdn.lordicon.com/pzdvqjsp.js"></script>
<script src="{{url_for('static',filename='js/recorder.js')}}"></script>

<!-- https://lordicon.com/icons/wired/flat/188-microphone-recording -->

<h1>This is the add food page</h1> 

<div class="container">
    <!-- <a>
        <img id="startRecording" onclick="" width="30%" height="30%" class="rounded mx-auto d-block"
        src ="{{ url_for('static',filename='img/microphone.svg')}}" > 
         https://www.svgrepo.com/svg/20297/microphone https://lordicon.com/icons/wired/flat/188-microphone-recording
      </a> -->
    <lord-icon
        src="https://cdn.lordicon.com/fpipqhrr.json"
        id="startRecording"
        trigger="click"
        colors="primary:#121331,secondary:#08a88a"
        stroke="75"
        style="width:250px;height:250px">
    </lord-icon>
    <button id ="stopRecording" disabled type="button" class="btn btn-primary">Stop</button> 
</div>
{%endblock%}