{% extends 'layout.html'%}

{%block title %}
    <div>
        <main class="container">
            <h1> Welcome to the food tracking application </h1>
        </main>
    </div>
{% endblock %}

{% block body %}
<div class="container">
    <h1> This is the main page </h1>
    <p>
        MyNutriTrack is a brand new nutrition tracking application
        that allows a user to add their food intake with a voice input
    </p>
    <p>
        For a user to add their food intake simply click 'Add Food' 
        in the navigation bar on top 
    </p>
    <p>
        To track your intakes, click the 'Track' option in the navigation bar on top
    </p>
</div>
{% endblock %}

{# include 'modal.html' #}

</body>
