{% extends 'layout.html'%}

{% block title %}
<script src ="{{url_for('static',filename='js/app.js')}}"></script>
<script src ="{{url_for('static',filename='js/modal.js')}}"></script>

<body class="text-bg-light">
    <div class="container">
      <nav class="navbar navbar-expand-lg bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for('index') }} ">MyNutriTrack</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" data-bs-toggle="modal" data-bs-target="#foodModal" href="">Add Food</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ url_for('track') }}">Track</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </div>
    <div>
        <main class="container">
            <h1> Welcome to MyNutriTrack</h1>
            <p> your food tracking application</p>
        </main>
    </div>
{% endblock %}

{% block body %}
<div class="container">
    <h1> This is the main page </h1>
    <p>
        MyNutriTrack is a brand new nutrition tracking application
        that allows a user to add their food intake with a voice input
    </p>
    <p>
        For a user to add their food intake simply click 'Add Food' 
        in the navigation bar on top 
    </p>
    <p>
        To track your intakes, click the 'Track' option in the navigation bar on top
    </p>
</div>
{% endblock %}

{% include 'modal.html' %}
</body>
