<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Food</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body"> 
          <a> 
            <img 
              width="30%" 
              height="30%" 
              class="rounded mx-auto d-block"  
              id="recordButton"
              src ="{{url_for('static',filename='img/188-microphone-recording.svg')}}"> 
          </a>
        </div>
        <div class="modal-footer">
          <a>
            <button id ="pauseButton" type="button" class="btn btn-secondary">Cancel Recording</button>
          </a>
          <button id="stopButton"  type="button" class="btn btn-primary">Submit Recording</button>

          <!-- <div>
            <a> Recorder built using: https://github.com/addpipe/simple-recorderjs-demo </a>
          </div> -->
         
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script> 
  <script src ="{{url_for('static',filename='js/app.js')}}"></script>