<!-- Modal -->
<script src="https://cdn.lordicon.com/pzdvqjsp.js"></script>

<div class="modal fade" id="foodModal" tabindex="-1" aria-labelledby="addfoodModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addfoodModal">Add Food</h1>
          <button id="cancelButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body"> 
            <img 
              width="30%" 
              height="30%" 
              class="rounded mx-auto d-block"  
              id="recordButton"
              src ="{{url_for('static',filename='img/188-microphone-recording.svg')}}">
            <div class="stopwatch" style="text-align:center;">
                <span class="time"  
                id="display">00:00:00</span> 
            </div> 

        </div>
        <div class="modal-footer" class="modal-dialog modal-dialog-centered" role="document">
          <button id="stopButton" type="button" class="btn btn-primary" disabled>Stop Recording</button>
          <button id="submitButton" type="button" class="btn btn-primary" disabled>Submit Recording</button>
          <footer>              
            <p style="font-size:80% ; color:darkgray ">Recorder built using: https://github.com/addpipe/simple-recorderjs-demo</p>
            <p style="font-size:80% ; color:darkgray ">stopwatch built using: https://github.com/tinloof/gold-stopwatch</p>

          </footer>
        </div>
      </div>
    </div>
  </div>
<script>

  //TODO: put this in the app.js so it works in conjunction with the audio record
  // also make sure to add the reset when modal closed; not implemented in this script but will work in the app.js
  function timeToString(time) {
    let diffInHrs = time / 3600000;
    let hh = Math.floor(diffInHrs);
  
    let diffInMin = (diffInHrs - hh) * 60;
    let mm = Math.floor(diffInMin);
  
    let diffInSec = (diffInMin - mm) * 60;
    let ss = Math.floor(diffInSec);
  
    let diffInMs = (diffInSec - ss) * 100;
    let ms = Math.floor(diffInMs);
  
    let formattedMM = mm.toString().padStart(2, "0");
    let formattedSS = ss.toString().padStart(2, "0");
    let formattedMS = ms.toString().padStart(2, "0");
  
    return `${formattedMM}:${formattedSS}:${formattedMS}`;
  }
  // Declare variables to use in our functions below

let startTime;
let elapsedTime = 0;
let timerInterval;
  function print(txt) {
    document.getElementById("display").innerHTML = txt;
  }
  function start() {
    startTime = Date.now() - elapsedTime;
    timerInterval = setInterval(function printTime() {
      elapsedTime = Date.now() - startTime;
      print(timeToString(elapsedTime));
    }, 10);
  }

  function stop(){
    clearInterval(timerInterval);
  }
  function reset(){
    clearInterval(timerInterval);
    print("00:00:00");
    elapsedTime = 0;
  }
  let startBtn = document.getElementById('recordButton')
  let stopBtn = document.getElementById('stopButton')
  let reset1 = document.getElementById('submitButton') 
  let reset2 = document.getElementById('cancelButton')

  startBtn.addEventListener("click",start)
  stopBtn.addEventListener("click",stop)
  reset1.addEventListener("click",reset)
  reset2.addEventListener("click",reset)

</script>

