<script src="https://cdn.lordicon.com/pzdvqjsp.js"></script>

<div class="modal fade" id="foodModal" tabindex="-1" aria-labelledby="addfoodModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addfoodModal">Add Food</h1>
          <button id="cancelButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body"> 
            <img 
              width="30%" 
              height="30%" 
              class="rounded mx-auto d-block"  
              id="recordButton"
              src ="{{url_for('static',filename='img/188-microphone-recording.svg')}}">
            <div class="stopwatch" style="text-align:center;">
                <span class="time"  
                id="display">00:00:00</span> 
            </div> 

            <div class="speech2Text" style="text-align: center;">
              <span id="speechToText"></span>
            </div>
        </div>

        
        <div class="modal-footer" class="modal-dialog modal-dialog-centered" role="document">
          <button id="stopButton" type="button" class="btn btn-primary" disabled>Stop Recording</button>
          <button id="submitButton" type="button" class="btn btn-primary" disabled>Submit Recording</button>
          <footer>              
            <p style="font-size:80% ; color:darkgray ; line-height:0.1; ">Recorder built using: https://github.com/addpipe/simple-recorderjs-demo</p>
            <p style="font-size:80% ; color:darkgray ; line-height:0.1;">stopwatch built using: https://github.com/tinloof/gold-stopwatch</p>
          </footer>
        </div>
      </div>
    </div>
  </div>



